<%- include('../components/header') %>
        <style>
            .input-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            .reset {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .reset:hover:enabled {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .reset:hover:disabled {
                color: #ff3860;
            }

            .enable {
                margin-left: 10px;
                color: #1ca64c;
                border: 1px solid #1ca64c;
            }

            .enable:hover {
                background-color: #1ca64c;
                color: white;
                border-color: #1ca64c;
            }

            .disable {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .disable:hover {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .input:disabled {
                background-color: #17181c;
            }

            .add {
                margin-left: 10px;
                color: #1ca64c;
                border: 1px solid #1ca64c;
            }

            .add:hover:enabled {
                background-color: #1ca64c;
                color: white;
                border-color: #1ca64c;
            }

            .add:hover:disabled {
                color: #1ca64c;
            }

            .remove {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .remove:hover:enabled {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .remove:hover:disabled {
                color: #ff3860;
            }
        </style>
        <section class="section">
            <div class="container">
                <h1 class="title">Configuration</h1>
                <% if (!hide_note) { %>
                <hr>
                <div class="has-text-info">
                    <span class="icon">
                        <i class="subtitle has-text-info fas fa-info-circle"></i>
                    </span>
                    <span class="subtitle has-text-info">Note:</span>
                    <div style="margin-left: 30px">
                        <p>• If you have any chat restrictions applied (Followers-Only chat, Subscriber-Only chat, Slowmode and others), you must <strong style="color: #00AD03">MOD</strong> or <strong style="color: #E005B9">VIP</strong> gdreqbot</p>
                        <p style="margin-left: 10px">Type <code class="has-text-primary">/mod gdreqbot</code> or <code class="has-text-primary">/vip gdreqbot</code> in your Twitch chat to do so</p>
                        <br>
                        <p>• If you later want to remove gdreqbot from your chat, use the <strong class="has-text-info"><%= setData.prefix.value %>part</strong> command, or the button at the bottom of this page.</p>
                    </div>
                    <br>
                    <p style="margin-left: 10px">If you've read and understood, click the button below to hide this text forever (a very long time):</p>
                    <button class="button is-small has-text-info" style="margin-left: 20px; margin-top: 10px" type="button" id="hide">Hide</button>
                </div>
                <% } %>
                <hr>
                <h1 class="title">Settings</h1>
                <form class="box" id="settings" autocomplete="off">
                    <input type="hidden" name="formType" value="settings">
                    <div>
                        <p class="title is-5">Prefix</p>
                        <p class="subtitle is-6">The prefix used to call commands (should be a symbol or a character)</p>
                        <div class="input-container">
                            <input class="input" type="text" value="<%= setData.prefix.value %>" name="prefix" id="required" data-default="<%= setData.prefix.defaultValue %>" required>
                            <button class="button reset" type="button" <% if (setData.prefix.isDefault) { %> disabled <% } %>>Reset</button>
                        </div>
                    </div>
                    <br>
                    <div>
                        <p class="title is-5">Max Levels Per User</p>
                        <p class="subtitle is-6">The maximum amount of levels a user can have in the queue at the same time</p>
                        <div class="input-container">
                            <input class="input" type="number" min="1" value="<%= setData.max_levels_per_user.isDefault ? "" : setData.max_levels_per_user.value %>" name="max_levels_per_user" id="max_levels_per_user" data-default="">
                            <button class="button reset" type="button" <% if (setData.max_levels_per_user.isDefault) { %> disabled <% } %>>Reset</button>
                            <!-- <button class="button <%= setData.max_levels_per_user.isDefault ? "enable" : "disable" %>" type="button"><%= setData.max_levels_per_user.isDefault ? "Enable" : "Disable" %></button> -->
                        </div>
                    </div>
                    <br>
                    <div>
                        <p class="title is-5">Max Queue Size</p>
                        <p class="subtitle is-6">The maximum amount of levels the queue can hold</p>
                        <div class="input-container">
                            <input class="input" type="number" min="1" value="<%= setData.max_queue_size.isDefault ? "" : setData.max_queue_size.value %>" name="max_queue_size" id="max_queue_size" data-default="">
                            <button class="button reset" type="button" <% if (setData.max_queue_size.isDefault) { %> disabled <% } %>>Reset</button>
                        </div>
                    </div>
                    <br></br>
                    <button class="button" type="submit">
                        <span class="icon has-text-info">
                            <i class="fas fa-save"></i>
                        </span>
                        <span>Save</span>
                    </button>
                </form>
                <br></br>
                <h1 class="title">Command Permissions</h1>
                <form class="box" id="perms" autocomplete="off">
                    <input type="hidden" name="formType" value="perms">
                    <% for (let i = 0; i < cmdData.length; i++) { %>
                    <div>
                        <div style="float: left">
                            <p class="title is-5"><%= setData.prefix.value + cmdData[i].name %></p>
                            <p class="subtitle is-6"><%= cmdData[i].desc.replace("!", setData.prefix.value) %></p>
                        </div>
                        <div class="dropdown" style="float: right" data-default="<%= cmdData[i].defaultPerm %>">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-<%= i %>">
                                <span><%= cmdData[i].perm %></span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-<%= i %>" role="menu">
                                <div class="dropdown-content">
                                    <% perms.forEach(perm => { %>
                                    <a class="dropdown-item<% if (cmdData[i].perm == perm) { %> is-active<% } %>" data-value="<%= perm %>"><%= perm %></a>
                                    <% }); %>
                                </div>
                            </div>
                            <button class="button reset" type="button" <% if (cmdData[i].isDefault) { %> disabled <% } %>>Reset</button>
                            <input type="hidden" id="dropdown<%= i %>-value" name="<%= cmdData[i].name %>" value="">
                        </div>
                    </div>
                    <br>
                    <hr>
                    <% } %>
                    <button class="button" type="submit">
                        <span class="icon has-text-info">
                            <i class="fas fa-save"></i>
                        </span>
                        <span>Save</span>
                    </button>
                </form>
                <br></br>
                <h1 class="title">Blacklist</h1>
                <div class="box">
                    <form id="blacklist-users" autocomplete="off">
                        <input type="hidden" name="formType" value="blacklist-users">
                        <div>
                            <p class="title is-5">Users</p>
                            <p class="subtitle is-6">Type the Twitch username and click "Add". You can add multiple ones separated by a ,</p>
                            <div class="input-container">
                                <input class="input" type="text" name="users", placeholder="user1, user2, ...">
                                <button class="button add" type="submit" disabled>Add</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div>
                        <p>Added Users:</p>
                        <% if (bl.users.length) { %>
                        <br>
                        <button class="button remove clear" type="button" data-type="users">
                            <span class="icon">
                                <i class="fas fa-broom"></i>
                            </span>
                            <span>Clear</span>
                        </button>
                        <% } %>
                        <hr>
                        <ul class="has-text-danger">
                        <% bl.users.forEach(user => { %>
                            <li class="input-container">
                                <p>• <%= user.userName %></p>
                                <button class="button remove is-small" type="button" data-type="users" data-id="<%= user.userId %>">Remove</button>
                            </li>
                            <hr>
                        <% }); %>
                        </ul>
                    </div>
                    <br>
                    <form id="blacklist-levels" autocomplete="off">
                        <input type="hidden" name="formType" value="blacklist-levels">
                        <div>
                            <p class="title is-5">Levels</p>
                            <p class="subtitle is-6">Type the GD level name or ID and click "Add". You can add multiple ones separated by a ,</p>
                            <div class="input-container">
                                <input class="input" type="text" name="levels" placeholder="level name1, 12345678, ...">
                                <button class="button add" type="submit" disabled>Add</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div>
                        <p>Added Levels:</p>
                        <% if (bl.levels?.length) { %>
                        <br>
                        <button class="button remove clear" type="button" data-type="levels">
                            <span class="icon">
                                <i class="fas fa-broom"></i>
                            </span>
                            <span>Clear</span>
                        </button>
                        <% } %>
                        <hr>
                        <ul class="has-text-danger">
                        <% bl.levels?.forEach(level => { %>
                            <li class="input-container">
                                <p>• '<%= level.name %>' (<%= level.id %>) by <%= level.creator %></p>
                                <button class="button remove is-small" type="button" data-type="levels" data-id="<%= level.id %>">Remove</button>
                            </li>
                            <hr>
                        <% }); %>
                        </ul>
                    </div>
                    <br></br>
                </div>
                <hr>
                <form action="/dashboard/<%= user.userId %>/part" method="GET">
                    <button class="button" type="submit">
                        <span class="icon has-text-danger">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="has-text-danger">Part</span>
                    </button>
                </form>
                <p>Note: parting gdreqbot will also log you out and <strong>delete all your data!</strong></p>
            </div>
        </section>
        <script>
            const url = "<%= url %>";
            const userId = "<%= user.userId %>";

            let changes = false;
            let isDefault = {};

            async function sendData(form) {
                let formData = new FormData(form);

                try {
                    let res = await fetch(`${url}/dashboard/${userId}/configuration`, {
                        method: "POST",
                        body: formData
                    });
                } catch (e) {
                    console.error(e);
                }
            }

            function saveMsg(saveButton) {
                let msg = document.createElement('span');

                msg.classList.add('has-text-success', 'ml-2');
                msg.innerText = 'Saved successfully!';

                saveButton.insertAdjacentElement('afterend', msg);
                setTimeout(() => msg.remove(), 2000);
            }

            function errMsg(form, text, type = "danger") {
                let msg = form.querySelector('.form-message');
                if (!msg) {
                    msg = document.createElement('p');
                    msg.className = 'form-message mt-2';
                    form.appendChild(msg);
                }

                msg.className = `form-message mt-2 has-text-${type}`;
                msg.innerText = text;
            }

            function toggleButton(form) {
                let input = form.querySelector("input[type='text']");
                let button = form.querySelector(".add");

                function update() {
                    button.disabled = input.value.trim().length == 0;
                }

                update();
                input.addEventListener("input", update);
            }

            let settings = document.getElementById("settings");
            settings.querySelectorAll('input').forEach(input => {
                input.addEventListener('input', () => {
                    let resetButton = input.closest('.input-container').querySelector('.reset');
                    if (input.value != input.dataset.default) {
                        resetButton.disabled = false;
                        changes = true;
                    } else {
                        resetButton.disabled = true;
                        changes = false;
                    }
                });
            });

            settings.querySelectorAll('.reset').forEach(resetButton => {
                resetButton.addEventListener('click', evt => {
                    evt.preventDefault();
                    let input = resetButton.parentElement.querySelector('input');

                    input.value = input.dataset.default;
                    resetButton.disabled = true;

                    changes = !isDefault[input.name];
                });
            });

            settings.addEventListener("submit", evt => {
                evt.preventDefault();
                sendData(settings);

                changes = false;

                let saveButton = settings.querySelector('.button[type="submit"]');
                saveMsg(saveButton);
            });

            let perms = document.getElementById("perms");
            perms.addEventListener("submit", evt => {
                evt.preventDefault();
                sendData(perms);

                changes = false;

                let saveButton = perms.querySelector('.button[type="submit"]');
                saveMsg(saveButton);
            });

            let dropdowns = document.querySelectorAll('.dropdown');
            dropdowns.forEach((dropdown, i) => {
                let input = dropdown.querySelector(`input[type="hidden"]`);
                let button = dropdown.querySelector('.dropdown-trigger button');
                let resetButton = dropdown.querySelector('.reset');
                let items = dropdown.querySelectorAll('.dropdown-item');

                let defaultValue = dropdown.dataset.default;

                function setValue(value) {
                    input.value = value;
                    button.innerHTML = `<span>${value}</span><span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>`;
                    items.forEach(i => i.classList.toggle('is-active', i.getAttribute('data-value') == value));
                }

                resetButton.addEventListener('click', evt => {
                    evt.preventDefault();
                    setValue(defaultValue);
                    resetButton.disabled = true;

                    changes = !isDefault[`dropdown${i}`];
                });

                let trigger = dropdown.querySelector('.dropdown-trigger');
                trigger.addEventListener('click', evt => {
                    evt.stopPropagation();
                    evt.preventDefault();
                    
                    dropdowns.forEach(other => {
                        if (other != dropdown) {
                            other.classList.remove('is-active');
                        }
                    });

                    dropdown.classList.toggle('is-active');
                });

                items.forEach(item => {
                    item.addEventListener('click', evt => {
                        evt.preventDefault();

                        setValue(item.getAttribute('data-value'));
                        dropdown.classList.remove('is-active');

                        if (input.value != defaultValue) {
                            if (resetButton.disabled) resetButton.disabled = false;
                            changes = true;
                        }
                    });
                });
            });

            let userBl = document.getElementById("blacklist-users");
            userBl.addEventListener("submit", async (evt) => {
                evt.preventDefault();

                let formData = new FormData(userBl);
                formData.append("action", "add");

                let button = userBl.querySelector(".add");
                button.disabled = true;

                try {
                    let res = await fetch(`${url}/dashboard/${userId}/configuration`, {
                        method: "POST",
                        body: formData
                    });

                    let data = await res.json();

                    if (!res.ok) 
                        return errMsg(userBl, `Invalid users: ${data.invalid.join(", ")}`);

                    window.location.reload();
                } catch (e) {
                    console.error(e);
                }
            });

            let levelBl = document.getElementById("blacklist-levels");
            levelBl.addEventListener("submit", async (evt) => {
                evt.preventDefault();

                let formData = new FormData(levelBl);
                formData.append("action", "add");

                let button = levelBl.querySelector(".add");
                button.disabled = true;

                try {
                    let res = await fetch(`${url}/dashboard/${userId}/configuration`, {
                        method: "POST",
                        body: formData
                    });

                    let data = await res.json();

                    if (!res.ok) 
                        return errMsg(levelBl, `Invalid levels: ${data.invalid.join(", ")}`);


                    window.location.reload();
                } catch (e) {
                    console.error(e);
                }
            });

            toggleButton(userBl);
            toggleButton(levelBl);

            document.querySelectorAll(".remove").forEach(button => {
                button.addEventListener("click", async () => {
                    let formData = new FormData();

                    formData.append("formType", `blacklist-${button.dataset.type}`);
                    formData.append("action", "remove");
                    formData.append("id", button.dataset.id);

                    try {
                        await fetch(`${url}/dashboard/${userId}/configuration`, {
                            method: "POST",
                            body: formData
                        });

                        window.location.reload();
                    } catch (e) {
                        console.error(e);
                    }
                });
            });

            document.querySelectorAll(".clear").forEach(button => {
                button.addEventListener("click", async () => {
                    let formData = new FormData();

                    formData.append("formType", `blacklist-${button.dataset.type}`);
                    formData.append("action", "clear");

                    try {
                        await fetch(`${url}/dashboard/${userId}/configuration`, {
                            method: "POST",
                            body: formData
                        });

                        window.location.reload();
                    } catch (e) {
                        console.error(e);
                    }
                });
            });

            document.addEventListener('click', evt => {
                dropdowns.forEach(dropdown => {
                    if (!dropdown.contains(evt.target)) {
                        dropdown.classList.remove('is-active');
                    }
                });
            });

            window.addEventListener('load', () => {
                let settingsInputs = document.querySelectorAll('#settings input');
                let permsInputs = document.querySelectorAll('#perms .dropdown');

                settingsInputs.forEach(input => {
                    isDefault[input.name] = input.value == input.dataset.default
                });

                permsInputs.forEach((dropdown, i) => {
                    let resetButton = dropdown.querySelector('.reset');
                    isDefault[`dropdown${i}`] = resetButton.disabled;
                });
            });

            window.addEventListener('beforeunload', evt => {
                if (changes) {
                    evt.preventDefault();
                    evt.returnValue = '';
                }
            });

            document.querySelector('#hide')?.addEventListener('click', async () => {
                try {
                    await fetch(`${url}/dashboard/${userId}/hide`, {
                        method: "GET",
                    });

                    window.location.reload();
                } catch (e) {
                    console.error(e);
                }
            });
        </script>
<%- include('../components/footer') %>
<%- include('components/sidebar') %>
