<%- include('../components/header') %>
        <style>
            .input-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            .blacklist {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .blacklist:hover:enabled {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .blacklist:hover:disabled {
                color: #ff3860;
            }

            .enable {
                margin-left: 10px;
                color: #1ca64c;
                border: 1px solid #1ca64c;
            }

            .enable:hover {
                background-color: #1ca64c;
                color: white;
                border-color: #1ca64c;
            }

            .disable {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .disable:hover {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .input:disabled {
                background-color: #17181c;
            }

            .add {
                margin-left: 10px;
                color: #1ca64c;
                border: 1px solid #1ca64c;
            }

            .add:hover:enabled {
                background-color: #1ca64c;
                color: white;
                border-color: #1ca64c;
            }

            .add:hover:disabled {
                color: #1ca64c;
            }

            .remove {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .remove:hover:enabled {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .remove:hover:disabled {
                color: #ff3860;
            }

            .icon-button {
                position: relative;
                top: 0px;
                right: 0px;

                width: 28px;
                height: 28px;
                font-size: 32px;

                background: transparent;
                border: none;
                border-radius: 25%;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
            }
            .toggle-on {
                color: #1ca64c;
            }
            .toggle-off {
                color: #ff3860;
            }
            .panel {
                margin-left: 0px;
                margin-right: 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
            .has-tooltip-arrow:hover:before,
            .has-tooltip-arrow:hover:after {
                transition-delay: 0.5s;
            }
            .has-tooltip-arrow:before,
            .has-tooltip-arrow:after {
                transition-delay: 0s;
            }
            .has-tooltip-arrow:hover:before {
                max-width: none;
                white-space: nowrap;
            }
            .copy-msg {
                margin-left: 10px;
            }
            .header-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .left {
                display: flex;
                gap: 15px;
            }
            .right {
                display: flex;
                gap: 10px;
            }
            .copy-wrapper {
                display: inline-flex;
                align-items: center;
                margin-bottom: 15px;
            }
        </style>
        <section class="section">
            <div class="container">
                <h1 class="title">Level Requests</h1>
                <% if (!hide_note) { %>
                <hr>
                <div class="has-text-info">
                    <span class="icon">
                        <i class="subtitle has-text-info fas fa-info-circle"></i>
                    </span>
                    <span class="subtitle has-text-info">Note:</span>
                    <div style="margin-left: 30px">
                        <p>• If you have any chat restrictions applied (Followers-Only chat, Subscriber-Only chat, Slowmode and others), you must <strong style="color: #00AD03">MOD</strong> or <strong style="color: #E005B9">VIP</strong> gdreqbot</p>
                        <p style="margin-left: 10px">Type <code class="has-text-primary">/mod gdreqbot</code> or <code class="has-text-primary">/vip gdreqbot</code> in your Twitch chat to do so</p>
                        <br>
                        <p>• If you later want to remove gdreqbot from your chat, use the <strong class="has-text-info"><%= sets.prefix ?? "!" %>part</strong> command, or the button at the bottom of the <a href="/dashboard/configuration"><strong class="has-text-info">Configuration</strong></a> page.</p>
                    </div>
                    <br>
                    <p style="margin-left: 10px">If you've read and understood, click the button below to hide this text forever (a very long time):</p>
                    <button class="button is-small has-text-info" style="margin-left: 20px; margin-top: 10px" type="button" id="hide">Hide</button>
                </div>
                <% } %>
                <hr>
                <div class="container">
                    <div class="box panel" style="cursor: default">
                        <p class="subtitle">
                            <span class="icon has-text-info" style="margin-right: 5px">
                                <i class="fas fa-envelope"></i>
                            </span>
                            Requests: 
                            <% if (sets.req_enabled) { %>
                            <strong class="has-text-success" style="margin-right: 10px">ON</strong>
                            <button class="icon-button toggle-on toggle req" style="float: right; margin-left: 20px">
                                <span class="icon">
                                    <i class="fas fa-toggle-on"></i>
                                </span>
                            </button>
                            <% } else { %>
                            <strong class="has-text-danger">OFF</strong>
                            <button class="icon-button toggle-off toggle req" style="float: right; margin-left: 20px">
                                <span class="icon">
                                    <i class="fas fa-toggle-off"></i>
                                </span>
                            </button>
                            <% } %>
                        </p>
                    </div>
                    <% if (sets.random_queue) { %>
                    <div class="box panel has-tooltip-arrow" data-tooltip="Clicking Next will pick a random level from the queue" aria-label="Clicking Next will pick a random level from the queue" style="cursor: default">
                        <p class="subtitle">
                            <span class="icon has-text-danger" style="margin-right: 5px">
                                    <i class="fas fa-random"></i>
                            </span>
                            Random Queue: <strong class="has-text-success" style="margin-right: 10px">ON</strong>
                            <button class="icon-button toggle-on toggle random" style="float: right; margin-left: 20px">
                                <span class="icon">
                                    <i class="fas fa-toggle-on"></i>
                                </span>
                            </button>
                        </p>
                    </div>
                    <% } else { %>
                    <div class="box panel has-tooltip-arrow" data-tooltip="The queue order is followed" aria-label="The queue order is followed" style="cursor: default">
                        <p class="subtitle">
                            <span class="icon has-text-danger" style="margin-right: 5px">
                                    <i class="fas fa-random"></i>
                            </span>
                            Random Queue: <strong class="has-text-danger">OFF</strong>
                            <button class="icon-button toggle-off toggle random" style="float: right; margin-left: 20px">
                                <span class="icon">
                                    <i class="fas fa-toggle-off"></i>
                                </span>
                            </button>
                        </p>
                    </div>
                    <% } %>
                    <% if (sets.silent_mode) { %>
                    <div class="box panel has-tooltip-arrow" data-tooltip="The bot will not send any messages in chat" aria-label="The bot will not send any messages in chat" style="cursor: default">
                        <p class="subtitle">
                            <span class="icon" style="margin-right: 5px">
                                    <i class="fas fa-volume-mute"></i>
                            </span>
                            Silent Mode: <strong class="has-text-success" style="margin-right: 10px">ON</strong>
                            <button class="icon-button toggle-on toggle silent" style="float: right; margin-left: 20px">
                                <span class="icon">
                                    <i class="fas fa-toggle-on"></i>
                                </span>
                            </button>
                        </p>
                    </div>
                    <% } else { %>
                    <div class="box panel has-tooltip-arrow" data-tooltip="The bot will send messages as usual" aria-label="The bot will send messages as usual" style="cursor: default">
                        <p class="subtitle">
                            <span class="icon" style="margin-right: 5px">
                                    <i class="fas fa-volume-mute"></i>
                            </span>
                            Silent Mode: <strong class="has-text-danger">OFF</strong>
                            <button class="icon-button toggle-off toggle silent" style="float: right; margin-left: 20px">
                                <span class="icon">
                                    <i class="fas fa-toggle-off"></i>
                                </span>
                            </button>
                        </p>
                    </div>
                    <% } %>
                </div>
            </div>
            <br>
            <div class="container">
                <button class="button clear panel <% if (levels.length > 0) { %>has-tooltip-arrow<% } %>" <% if (levels.length > 0) { %>data-tooltip="Clear Queue"<% } %> aria-label="Clear Queue" <% if (!levels.length) { %>disabled<% } %>>
                    <p class="icon-button has-text-danger" style="margin-left: 5px; font-size: 24px; <% if (!levels.length) { %>cursor: not-allowed"<% } %>>
                        <span class="icon">
                            <i class="fas fa-broom"></i>
                        </span>
                    </p>
                </button>
                <button class="button refresh panel has-tooltip-arrow" data-tooltip="Refresh" aria-label="Refresh" onclick="refresh()">
                    <p class="icon-button has-text-primary" style="font-size: 24px">
                        <span class="icon">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                    </p>
                </button>
                <button class="button next panel <% if (levels.length > 0) { %>has-tooltip-arrow<% } %>" <% if (levels.length > 0) { %>data-tooltip="Next Level"<% } %> aria-label="Next Level" <% if (!levels.length) { %>disabled<% } %>>
                    <div class="icon-button has-text-link" style="margin-left: 5px; <% if (!levels.length) { %>cursor: not-allowed"<% } %>>
                        <span class="icon">
                            <i class="fas fa-forward"></i>
                        </span>
                    </div>
                </button>
                <hr>
            </div>
            <div class="container">
                <p class="title">
                    <% if (sets.random_queue) { %>
                    <span class="icon has-text-danger" style="margin-right: 5px">
                        <i class="fas fa-random"></i>
                    </span>
                    <% } %>
                    Next Level
                </p>
                <div class="box">
                    <% if (levels.length) { %>
                    <div class="header-row">
                        <div class="left">
                            <p class="title is-5">
                                <%= levels[0].name %> (<%= levels[0].id %>)
                            </p>
                            <div class="copy-wrapper">
                                <button class="button copy is-small has-text-info" type="button" onclick="copyToClipboard()">Copy ID</button>
                            </div>
                        </div>
                        <div class="right">
                            <button class="button blacklist" type="button" data-type="level" <% if (bl.levels?.find(l => l.id == levels[0].id)) { %>disabled<% } %>>Blacklist Level</button>
                            <button class="button blacklist" type="button" data-type="user" <% if (bl.users?.find(u => u.userId == levels[0].user.userId)) { %>disabled<% } %>>Blacklist Sender</button>
                        </div>
                    </div>
                    <p><strong>By:</strong> <%= levels[0].creator %></p>
                    <p><strong>Requested by:</strong> <%= levels[0].user.userName %></p>
                    <p><strong>Notes:</strong> <% if (levels[0].notes) { %><%= levels[0].notes %><% } else { %><i>none</i><% } %></p>
                    <% } %>
                </div>
                <br>
                <p class="title">Queue (<%= levels.length %> levels)</p>
                <div class="box">
                    <ul>
                        <% levels.forEach((level, i) => { %>
                        <li class="input-container">
                            <p><%= i+1 %>. <%= level.name %> (<%= level.id %>)</p>
                            <button class="button remove is-small" type="button" data-type="levels" data-id="<%= level.id %>">Remove</button>
                        </li>
                        <hr>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </section>

        <script>
            function copyMsg(copyButton) {
                let msg = document.createElement('span');

                msg.classList.add('has-text-success', 'copy-msg');
                msg.innerText = 'Copied to clipboard!';

                msg.style.float = 'right';
                msg.style.marginLeft = '10px';

                copyButton.insertAdjacentElement('afterend', msg);
                setTimeout(() => msg.remove(), 2000);
            }

            document.querySelector('#hide')?.addEventListener('click', async () => {
                try {
                    await fetch(`/dashboard/hide`, {
                        method: "GET",
                    });

                    window.location.reload();
                } catch (e) {
                    console.error(e);
                }
            });

            function copyToClipboard() {
                navigator.clipboard.writeText("<%= levels[0]?.id %>");

                copyMsg(document.querySelector('.copy'));
            }

            function refresh() {
                window.location.reload();
            }

            async function sendButtonData(type, data) {
                let formData = new FormData();
                formData.append('formType', type);

                try {
                    await fetch(`/dashboard/requests`, {
                        method: "POST",
                        body: formData
                    });

                    window.location.reload();
                } catch (e) {
                    console.error(e);
                }
            }

            document.querySelector('.next').addEventListener('click', async evt => {
                evt.preventDefault();
                await sendButtonData("next");
            });

            document.querySelector('.clear').addEventListener('click', async evt => {
                evt.preventDefault();
                await sendButtonData("clear");
            });

            document.querySelectorAll('.toggle').forEach(toggle => {
                let type = toggle.classList.item(toggle.classList.length-1);

                toggle.addEventListener('click', async evt => {
                    evt.preventDefault();
                    await sendButtonData(`toggle-${type}`);
                });
            });

            document.querySelectorAll('.blacklist').forEach(button => {
                button.addEventListener('click', async evt => {
                    evt.preventDefault();

                    let type = button.dataset.type;
                    await sendButtonData(`blacklist-${type}`);
                });
            });

            document.querySelectorAll('.remove').forEach(button => {
                button.addEventListener('click', async evt => {
                    evt.preventDefault();

                    let id = button.dataset.id;
                    await sendButtonData(`remove-${id}`);
                });
            });
        </script>
<%- include('components/sidebar') %>
