<!DOCTYPE html>
<html>
    <style>
        .sidebar .menu {
            padding-top: 30px;
            flex: 1;
        }
        .sidebar .menu li a {
            text-decoration: none;
            padding: 10px;
            background-color: var(--bulma-scheme-main);
        }
        .sidebar .menu li a:hover {
            background-color: var(--bulma-scheme-main-bis);
        }
        .sidebar .menu-label {
            padding-left: 20px;
        }
        .sidebar footer {
            padding: 20px;
            word-wrap: break-word;
        }
        .sidebar .menu li a.is-active {
            background-color: var(--bulma-success);
        }
    </style>

    <aside class="sidebar">
        <div class="menu">
            <p class="menu-label">Dashboard</p>
            <ul class="menu-list">
                <li><a href="/dashboard/requests" class="<%= page == "req" ? "is-active" : "" %>">
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="title is-6 <%= page == "req" ? "has-text-white-bis" : "" %>"><strong>Requests</strong></span>
                </a></li>
                <li><a href="/dashboard/configuration" class="<%= page == "set" ? "is-active" : "" %>">
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="title is-6 <%= page == "set" ? "has-text-white-bis" : "" %>"><strong>Configuration</strong></span>
                </a></li>
            </ul>
        </div>
        <button class="sidebar-toggle" aria-label="Toggle sidebar">
            <span class="icon">
                <i class="fas fa-angle-left"></i>
            </span>
        </button>
        <footer>
            <hr>
            <p class="subtitle is-6">Logged in as: <%= user.userName %></p>
                <form action="/logout" method="GET">
                    <button class="button" type="submit">
                        <span class="icon has-text-danger">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Logout</span>
                    </button>
                </form>
        </footer>
    </aside>
    <script>
        let { body } = document;
        body.classList.add("no-transition");

        let collapsed = localStorage.getItem("sidebar-collapsed");

        if (collapsed == "true") {
            body.classList.add("sidebar-collapsed");
        } else {
            body.classList.remove("sidebar-collapsed");
        }

        function handleResize() {
            if (window.innerWidth <= 1023) {
                body.classList.add('sidebar-collapsed');
            } else {
                body.classList.remove('sidebar-collapsed');
            }
        }

        //handleResize();

        requestAnimationFrame(() => {
            requestAnimationFrame(() => {
                body.classList.remove('no-transition');
            });
        });

        let toggle = document.querySelector(".sidebar-toggle");
        //let { body } = document;

        toggle?.addEventListener('click', evt => {
            evt.preventDefault();

            body.classList.toggle('sidebar-collapsed');
            localStorage.setItem("sidebar-collapsed", body.classList.contains("sidebar-collapsed") ? "true" : "false");
        });

        window.addEventListener('resize', handleResize);
    </script>
</html>
