<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Commands</h1>
            <hr>
            <form action="/" method="GET">
                <button class="button" type="submit">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Back to Home</span>
                </button>
            </form>
            <br>
            <p class="subtitle">The following is an extensive list of all commands and their default properties:</p>
            <div class="has-text-info">
                <span class="icon">
                    <i class="fas fa-info-circle"></i>
                </span>
                <span>Args naming convention:</span>
                <ul style="margin-left: 30px">
                    <li>• &ltarg&gt = replace with the actual argument</li>
                    <li>• [&ltarg&gt] = optional argument / optional depending on the selected option</li>
                    <li>• arg|arg = options to type as they are</li>
                </ul>
            </div>
            <br>
            <div class="box">
                <% cmds.forEach(cmd => { %>
                    <p class="title is-5"><%= "!" + cmd.name %></p>
                    <p><strong>Description:</strong> <%= cmd.desc %></p>
                    <p><strong>Args:</strong> <% if (cmd.args.length) { %><code class="has-text-primary"><%= cmd.args %></code> <% } else { %> <i>none</i> <% } %></p>
                    <p><strong>Aliases:</strong><% if (!cmd.aliases.length) { %> <i>none</i><% } %></p>
                    <% if (cmd.aliases.length) { %>
                        <ul>
                        <% cmd.aliases.forEach(a => { %>
                            <li style="margin-left: 10px">• <%= "!" + a %></li>
                        <% }); %>
                        </ul>
                    <% } %>
                    <p><strong>Default required permission:</strong> <span class="has-text-primary"><%= cmd.permLevel %></span></p>
                    <br>
                    <p><strong>Supports Privilege mode*:</strong>
                    <% if (cmd.supportsPrivilege) { %>
                        <span class="icon has-text-success">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                    <p><strong>Privilege Description:</strong> <%= cmd.privilegeDesc %></p>
                    <p><strong>Privilege Args:</strong> <% if (cmd.privilegeArgs.length) { %><code class="has-text-primary"><%= cmd.privilegeArgs %></code> <% } else { %> <i>none</i> <% } %></p>
                    <br>
                    <% } else { %>
                        <span class="icon has-text-danger">
                            <i class="fas fa-times"></i>
                        </span>
                    <% } %>
                    <p><strong>Supports Silent mode**:</strong>
                    <% if (cmd.supportsSilent) { %>
                        <span class="icon has-text-success">
                            <i class="fas fa-check"></i>
                        </span>
                    <% } else { %>
                        <span class="icon has-text-danger">
                            <i class="fas fa-times"></i>
                        </span>
                    <% } %>
                    <hr>
                <% }); %>
            </div>
            <p>* <strong>Privilege mode</strong> is a unique feature that allows users with access to the <strong>!privilege</strong> command to run certain commands in a special mode that allows performing more actions</p>
            <p>** Commands supporting <strong>Silent mode</strong> will work even if Silent mode is enabled, but they won't give any response in chat</p>
        </div>
    </section>
<%- include('components/footer') %>
